.courses-main {
    background-image: url("../images/courses/courses-bg.png");
    background-size: 100% 105%;
    background-position: 100% 110%;

    min-height: 820px;
}
.course-main-title {
    margin-top: 2em;
    margin-bottom: 0;
}

.swiper-slide {
    padding-top: 3em;
}

.course-item {
    max-width: 80%;
    margin: 0 auto;
    background-color: #FFFFFF;
    border-radius: 45px;
    min-height: 620px;

    flex-direction: column;
    align-items: center;

    padding: 1.5em;
}

.img-container {
   display: flex;
   align-items: start;
   justify-content: space-between;
}

.course-img {
    width: 155px;
    height: 155px;
    margin-top: -2em;
}

/* Next & previous buttons */
.swiper-button-prev:after, 
.swiper-button-next:after {
    color: #ED8108;
    font-size: 1.5rem;
}
.swiper-button-prev, 
.swiper-button-next {
    position: relative;
    margin-top: 1em;
}

.course-title {
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    letter-spacing: .05em;
    line-height: 1.6;
    font-size: 0.9rem;

    margin: 0;
    margin-top: 1.5em;
}

.course-ages {
    margin-bottom: 0;
    margin-top: 0;
    font-size: 0.75rem;
    text-align: center;
}

.more-course-info-btn {
    display: none;
}

/* The dots/bullets/indicators */
.swiper-pagination {
    position: relative;
    margin-top: 0.5em;
}

.swiper-pagination span {
    cursor: pointer;
    height: 7px;
    width: 7px;
    margin: 0 2px;
    background-color: transparent;
    border: solid 1px #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.8s ease;
}

.dot {
    cursor: pointer;
    height: 7px;
    width: 7px;
    margin: 0 2px;
    background-color: transparent;
    border: solid 1px #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.8s ease;
}

.profit-title {
    margin-top: 0.75rem;
    text-align: left;
}

.course-explanation, .course-profit-list {
    font-size: 0.75rem;
    margin-bottom: 0;
}

.course-profit-list {
    padding-left: 0;
    align-self: start;
    list-style: circle inside url("../images/courses/li-point.svg");
}

.course-link-btn {
    display: none;
}

.course-link-btn-bottom {
    display: block;
    margin-top: -2.5em;
    margin-bottom: 3em;
    text-align: center;
}

.active-img {
    display: none;
}

