@font-face {
    font-family: Gilroy;
    src: url(../fonts/GilroyLight.otf);
}

@font-face {
    font-family: Gilroy;
    src: url(../fonts/GilroyExtraBold.otf);
    font-weight: bold;
}

* {box-sizing: border-box;}

body {
    margin: 0;
    font-family: Gilroy, sans-serif;
    font-size: 1rem;
    color: #404040;
    line-height: 1.6;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* ==================
    Typography
===================== */

h1, h2, h3, strong {
    color: #000000;
    text-align: center;
    font-weight: bold;
    letter-spacing: .05em;
}

.title {
    text-transform: uppercase;
}

.btn {
    padding: 1em 2.5em;
    border: 0;
    cursor: pointer;
}

.btn-primary,
.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.btn-primary {
    background-image: linear-gradient(#ED8108, #EC4103);
    justify-self: start;
    border-radius: 50px;
}

.btn-primary:hover,
.btn-primary:focus {
    background-image: linear-gradient(#FF2400, #FF2400);
}

.btn-form {
    justify-self: end;
}

/* ==================
    general layout
===================== */
.flex {
    display: flex;
    align-items: center;
}

@media (min-height: 800px) {
    .hero-header-container {
        max-width: 275px;
    }

    .hero-image {
        bottom: 10%;
    }

    .vk {
        display: inline-block;
    }
}

@media (min-height: 950px) {
    .hero-header-container {
        max-width: 350px;
    }

    .youtube {
        display: inline-block;
    }

    .hero-image {
        bottom: 0;
    }
}

@media (max-height: 600px) {
    .hero-header-container p {
        display: none;
    }

    .hero-header-container {
        max-width: 275px;
    }

    .hero-image {
        bottom: 0;
    }

}

@media (max-width: 380px) {
    .grid {
        grid-template-columns: 80px auto 80px;
        grid-template-areas: 
          "menu-btn     logo       social "
          "   .         phone         .   "
          "   .       course-btn      .   "
    }

    .open-nav {
        padding: .5em .25em;
    }

    .about-grid {
        grid-column-gap: 0;
    }

    .about-item h4 {
        font-size: 0.75rem;
    }
}

@media (max-width: 350px) {
    .social-list {
        justify-self: start;
    }
    .courses-section {
        background-size: 120% 120%;
    }
    .courses-main {
        min-height: 850px;
    }
    .course-item {
        max-width: 85%;
        padding: 1.25em;
    }
}

@media (min-width: 700px) {
    .about-title {
        margin-top: 1em;
        margin-bottom: 2em;
    }

    .about-container {
        background: transparent;
    }

    .about-container-content {
        flex-direction: row;
        justify-content: center;
    }

    .about-image {
        order: -1;
        justify-content: end;
    }

    .about-items-container {
        margin: 0;
    }

    .course-main-title {
        margin-bottom: 1em;
    }

    .courses-main {
        background-image: url("../images/courses/course-main-bg.png");
        background-size: 100% 100%;
    }

    .swiper-wrapper-desktop {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .swiper-slide { 
        flex-shrink: inherit;
        padding-top: 5em;
        margin: 0 1em;
    }

    .courses-container {
        min-height: auto;
        margin: 2em;
        width: 100%;
        background-color: transparent;
    }

    .courses-row {
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
    }

    .dot-group, 
    .swiper-button-prev, 
    .swiper-button-next,
    .course-item-active {
        display: none;
    }

    .course-item-active {
        position: relative;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        margin-bottom: 5em;
        background-color: #fff;
        border-radius: 45px;
        padding: 2em;

        animation-name: open;
        animation-duration: 0.05s;
        animation-delay: 0s;
    }

    @keyframes open {
        0% {
          display: block;
          opacity: 0;
          visibility: hidden;
        }
        100% {
          display: block;
          opacity: 1;
          visibility: visible;
        }
    }

    .active-main-content {
        width: 60%;
        margin-right: auto;
    }

    .active-img {
        width: 30%; 
        position: absolute;
        bottom: 0;
        right: 20%;
        z-index: 0;
    }

    .active-img img {
        min-width: 420px;
    }

    .course-explanation {
        margin-top: 0;
    }

    .course-item {
        display: flex;
        background-color: rgb(255, 255, 255, 0.8);
        border-radius: 25px;
        padding: 0;
        min-width: 250px;
        height: 250px;
        min-height: auto;
        max-width: 75%;

        animation-name: open-item;
        animation-duration: 0.01s;
        animation-iteration-count: 1;
        animation-direction: normal;
        animation-timing-function: ease-out;
        animation-fill-mode: forwards;
        animation-delay: 0s;
    }

    @keyframes open-item {
        0% {
          opacity: 0;
          visibility: hidden;
        }
        100% {
          opacity: 1;
          visibility: visible;
        }
    }

    .course-active {
        background-color: rgb(255, 255, 255, 1);
        border-radius: 45px 45px 0 0;

        -webkit-transition: background-color 200ms ease-out;
        -ms-transition: background-color 200ms ease-out;
        transition: background-color 200ms ease-out;
    }

    .course-img {
        width: 150px;
        height: 150px;
    }

    .course-ages {
        margin-bottom: 1.5em;
    }

    .course-title {
        font-size: 1rem;
    }

    .course-ages {
        font-size: 0.75rem;
    }

    .course-more-info-container {
        display: flex;
    }

    .profit-title {
        margin-top: 2em;
    }

    .more-course-info-btn {
        display: block;
        margin: 0;
        margin-bottom: 1.75em;
        min-width: 35px;
        min-height: 35px;
        border-radius: 50px;
        background-color: #fff;
    }

    .more-course-info-btn:hover {
        box-shadow: 0 0 10px rgba(0,0,0,0.15);
    }

    .down-arrow {
        display: block;
        margin: 8px auto;
        border-right: 2px solid;
        border-bottom: 2px solid;
        height: 12px;
        width: 12px;
        transform: rotate(45deg);
        color: #ED8108;
    }

    .down-arrow:hover {
        margin: 12px auto;
    }

    .course-profit-list {
        max-width: 320px;
    }

    .course-link-btn {
        display: block;
        margin-top: 2em;
    }

    .course-link-btn-bottom {
        display: none;
        margin-top: 0;
    }
}

@media (min-width: 780px) {
    .grid {
        grid-template-columns: minmax(1em, 15em) repeat(3, auto minmax(0.5em, 150px)) auto minmax(1em, 15em);
        grid-column-gap: 2em;
        grid-template-areas: 
                " .  logo social social . course-btn course-btn phone . "
                " nav  nav nav  nav nav   nav  nav nav nav "
    }

    .open-nav,
    .menu-btn-container {
        display: none;
    }

    .logo-container {
        background-color: #fff;
        margin: 0.25em 0;
    }

    .youtube,
    .vk {
        display: inline-block;
    }

    .nav {
        position: relative;
        left: 0;
        width: 100%;
        background-image: linear-gradient( #EC4103, #ED8108);
        opacity: 1;
        border-radius: 0;
        margin: 0 auto;
    }

    .nav-list {
        flex-direction: row;
        max-width: 1200px;
        margin: 0 auto;
    }

    .nav-link {
        font-weight: lighter;
        font-size: 0.75em;
    }

    .phone-container,
    .free-course-button,
    .social-list {
        margin: 0;
    }

    .free-course-button {
        font-size: 0.75em;
        width: 230px;
    }

    .hero-container {
        background-image: url("../images/hero/hero-bg.png");
        background-size: cover; 
        background-position: center;
        max-height: 75vh;
    }

    .hero-container img {
        display: none;
    }

    .hero-header-container {
        align-self: flex-start;
        margin: auto 10em;
        max-width: 300px;
        text-align: start;
    }

    .hero-header-container p {
        font-size: 1rem;
    }

    .hero-header {
        font-size: 2rem;
        text-align: start;
    }

    .link-btn {
        display: block;
        margin: 2em 0 10em 0;
    }

    .btn-primary {
        font-size: 1rem;
    }

    .courses-row {
        justify-content: center;
    }

    .course-ages {
        margin-bottom: 1em;
    }

    .course-explanation,
    .course-profit-list {
        margin-top: 1em;
    }

    .course-profit-list {
        max-width: 80%;
        list-style: circle inside url("../images/courses/li-point-desk.svg");
    }

    .course-profit-list li {
        margin-top: 1em
    }

    .active-img {
        right: 10%;
    }
}

@media (min-width: 1200px) {
    .hero-header-container {
        margin: auto 20em;
    }

    .course-item-active {
        max-width: 50%;
    }

    .course-main-title {
        margin-top: 2em;
    }

    .active-img {
        width: 40%;
    }
}

@media (min-width: 2000px) {
    .hero-container {
        max-height: 100vh;
        max-width: 100%;
    }

    .course-item-active {
        max-width: 45%;
    }
}