@font-face {
    font-family: Gilroy;
    src: url(../fonts/GilroyLight.otf);
}

@font-face {
    font-family: Gilroy;
    src: url(../fonts/GilroyExtraBold.otf);
    font-weight: bold;
}

* {box-sizing: border-box;}

body {
    margin: 0;
    font-family: Gilroy, sans-serif;
    font-size: 1rem;
    color: #404040;
    line-height: 1.6;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* ==================
    Typography
===================== */

h1, h2, h3, strong {
    color: #000000;
    text-align: center;
    font-weight: bold;
    letter-spacing: .05em;
}

.title {
    text-transform: uppercase;
}

.btn {
    padding: 1em 2.5em;
    border: 0;
    cursor: pointer;
}

.btn-primary,
.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.btn-primary {
    background-image: linear-gradient(#ED8108, #EC4103);
    justify-self: start;
    border-radius: 50px;
}

.btn-primary:hover,
.btn-primary:focus {
    background-image: linear-gradient(#FF2400, #FF2400);
}

.btn-form {
    justify-self: end;
}

/* ==================
    general layout
===================== */
.flex {
    display: flex;
    align-items: center;
}

@media (min-height: 800px) {
    .hero-header-container {
        max-width: 275px;
    }

    .hero-image {
        bottom: 10%;
    }

    .vk {
        display: inline-block;
    }
}

@media (min-height: 950px) {
    .hero-header-container {
        max-width: 350px;
    }

    .youtube {
        display: inline-block;
    }

    .hero-image {
        bottom: 0;
    }
}

@media (max-height: 600px) {
    .hero-header-container p {
        display: none;
    }

    .hero-header-container {
        max-width: 275px;
    }

    .hero-image {
        bottom: 0;
    }

}

@media (max-width: 380px) {
    .grid {
        grid-template-columns: 80px auto 80px;
        grid-template-areas: 
          "menu-btn     logo       social "
          "   .         phone         .   "
          "   .       course-btn      .   "
    }

    .open-nav {
        padding: .5em .25em;
    }

    .about-grid {
        grid-column-gap: 0;
    }

    .about-item h4 {
        font-size: 0.75rem;
    }
}

@media (max-width: 350px) {
    .social-list {
        justify-self: start;
    }
    .courses-container {
        background-size: 120% 120%;
    }
}

@media (min-width: 700px) {
    .about-title {
        margin-top: 1em;
        margin-bottom: 2em;
    }

    .about-container {
        background: transparent;
    }

    .about-container-content {
        flex-direction: row;
        justify-content: center;
    }

    .about-image {
        order: -1;
        justify-content: end;
    }

    .about-items-container {
        margin: 0;
    }

    .course-main-title {
        margin-bottom: 2em;
    }

    .courses-container {
        background-image: url("../images/courses/course-main-bg.png");
        background-size: 100% 95%;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .course-item-active, 
    .dot-group, 
    .prev, .next {
        display: none;
    }

    .courses-grid {
        grid-template-rows: minmax(220px, auto) minmax(220px, auto);
        grid-template-columns: repeat(2, 280px);
        grid-column-gap: 3em;
        grid-row-gap: 3em;
        margin: 1em 2.75em;
    }

    .course-item {
        display: flex;
        grid-column: auto;

        background-color: rgb(255, 255, 255, 0.8);
    }

    .course-img {
        width: 150px;
        height: 150px;
    }

    .course-ages {
        margin-bottom: 0.5em;
    }

    .course-title {
        font-size: 1rem;
    }

    .course-ages {
        font-size: 0.75rem;
    }

    .course-more-info-container {
        display: flex;
    }

    .more-course-info-btn {
        display: block;
        margin: 0;
        margin-bottom: 1em;
        min-width: 40px;
        min-height: 40px;
        border-radius: 50px;
        background-color: #fff;
    }

    .down-arrow {
        display: block;
        margin: 10px auto;
        border-right: 3px solid;
        border-bottom: 3px solid;
        height: 16px;
        width: 16px;
        transform: rotate(45deg);
        color: #ED8108;
    }
}

@media (min-width: 780px) {
    .grid {
        grid-template-columns: minmax(1em, 15em) repeat(3, auto minmax(0.5em, 150px)) auto minmax(1em, 15em);
        grid-column-gap: 2em;
        grid-template-areas: 
                " .  logo social social . course-btn course-btn phone . "
                " nav  nav nav  nav nav   nav  nav nav nav "
    }

    .open-nav,
    .menu-btn-container {
        display: none;
    }

    .logo-container {
        background-color: #fff;
        margin: 0.25em 0;
    }

    .youtube,
    .vk {
        display: inline-block;
    }

    .nav {
        position: relative;
        left: 0;
        width: 100%;
        background-image: linear-gradient( #EC4103, #ED8108);
        opacity: 1;
        border-radius: 0;
        margin: 0 auto;
    }

    .nav-list {
        flex-direction: row;
        max-width: 1200px;
        margin: 0 auto;
    }

    .nav-link {
        font-weight: lighter;
        font-size: 0.75em;
    }

    .phone-container,
    .free-course-button,
    .social-list {
        margin: 0;
    }

    .free-course-button {
        font-size: 0.75em;
        width: 230px;
    }

    .hero-container {
        background-image: url("../images/hero/hero-bg.png");
        background-size: cover; 
        background-position: center;
        max-height: 75vh;
    }

    .hero-container img {
        display: none;
    }

    .hero-header-container {
        align-self: flex-start;
        margin: auto 10em;
        max-width: 300px;
        text-align: start;
    }

    .hero-header-container p {
        font-size: 1rem;
    }

    .hero-header {
        font-size: 2rem;
        text-align: start;
    }

    .link-btn {
        display: block;
        margin: 2em 0 10em 0;
    }

    .btn-primary {
        font-size: 1rem;
    }

    .courses-grid {
        grid-template-rows: minmax(400px, 450px) minmax(400px, 450px);
        grid-template-columns: repeat(2, minmax(450px, auto));
        grid-column-gap: 2.75em;
        grid-row-gap: 2.75em;
        margin: 2.75em;
    }

    .course-img {
        width: 340px;
        height: 340px;
    }

    .course-ages {
        margin-bottom: 1em;
    }

    .course-title {
        font-size: 2rem;
    }

    .course-ages {
        font-size: 1.5rem;
    }
}

@media (min-width: 1200px) {
    .hero-header-container {
        margin: auto 20em;
    }
}

@media (min-width: 2000px) {
    .hero-container {
        max-height: 100vh;
        max-width: 100%;
    }
}