@font-face {
    font-family: Gilroy;
    src: url(../fonts/GilroyLight.otf);
}

@font-face {
    font-family: Gilroy;
    src: url(../fonts/GilroyExtraBold.otf);
    font-weight: bold;
}

* {box-sizing: border-box;}

body {
    margin: 0;
    font-family: Gilroy, sans-serif;
    font-size: 1rem;
    color: #404040;
    line-height: 1.6;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

/* ==================
    Typography
===================== */

h1, h2, strong {
    text-align: center;
    font-weight: bold;
    letter-spacing: .05em;
}

/* buttons */

.btn {
    padding: .5em 1.75em;
    border: 0;
    cursor: pointer;
}

.btn-primary {
    background: #FFE600;
    color: #000;
    justify-self: start;
}

.btn-primary:hover,
.btn-primary:focus {
    background: #ffc400;
}

.btn-form {
    justify-self: end;
}

/* ==================
    general layout
===================== */
.flex {
    display: flex;
    align-items: center;
}

.grid {
    display: grid;
    grid-column-gap: 0.2em;
    grid-template-columns: 120px auto auto 120px;
    grid-template-areas: 
          "menu-btn     logo        logo     social "
          "   .         phone       phone       .   "
          "   .       course-btn  course-btn    .   "
} 

/* navigation */

.header {
    background: transparent;
    flex-direction: column;
    align-items: center;
}

.logo-container {
    grid-area: logo;
    justify-content: center;
}

.logo-header {
    margin: 0.25em;
}

.menu-btn-container {
    grid-area: menu-btn;
    background-image: url("../images/header/header-bg-element.svg");
    background-size: cover;
    background-position: right;
    width: 100%;
    height: 72px;
    max-width: 96px;
}

.nav {
    grid-area: nav;
    position: absolute;
    background: #EE7801;
    opacity: 0.98;
    margin-top: 55px;
    width: 50%;
    top: 0;
    left: -50%;
    right: 0;
    transform: translateX(0);
    transition: transform 250ms;

    z-index: 10;
    border-radius: 5px;
}

.navigation-open {
    transform: translateX(100%);
}

.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;

    flex-direction: column;
}

.nav-item {
    width: 100%;
    text-align: center;
    padding: .5em;
}

.nav-item:hover,
.nav-item:focus{
    background-image: linear-gradient(#FFA200, #ED8108, #FFA200);
}

.nav-link {
    color: #fff;
    text-decoration: none;
    font-size: 0.75rem;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1em;
}

.close-nav {
    border: 0;
    background: 0;
    color: #FFE600;
    font-weight: 700;
    font-size: 3rem;
    cursor: pointer;
    padding: .5em;
    position: absolute;
}

.open-nav {
    border: 0;
    background: 0;
    color: #fff;
    cursor: pointer;
    padding: .5em;
    margin-left: auto;
    font-size: 1.5em;
}

.open-nav:active,
.open-nav:focus {
    outline:none;
}

.current {
    border-bottom: 1px solid #FFE600;
}

.social-list {
    grid-area: social;
    list-style: none;
    padding: 0;
    margin-right: 1em;
    justify-content: center;
    justify-self: end;
    align-items: center;
}

.youtube {
    display: none;
}

.vk {
    display: none;
}

.social-link {
    margin: 0 0.175em;
}

.social-link img {
    width: 1.25em;
    height: 1.25em;
}

.social-link:hover {
    color: #777;
}

/* hero */

.hero-container {
    flex-direction: column;
    background-image: url("../images/hero/hero-bg-mob.png");
    background-size: cover;
    background-position: left bottom;
    height: 95vh;
    width: 100%;
}

.header-info {
    flex-direction: column;
}

.phone-container {
    grid-area: phone;
    justify-self: center;
    justify-content: center;

    max-height: 25px;
    width: 170px;
    margin-top: 0.5em;
    border: 0.025em solid rgba(12, 58, 80, .15);
    border-radius: 1em;
    padding: .25em 1.25em .25em 1em;
}

.phone-icon {
    width: 0.75rem;
    height: 0.75rem;
    margin-right: 0.75em;
    margin-bottom: 0.175em;
}

.phone-number {
    font-size: 0.75rem;
    color: #000000;
    padding: 0;
}

.free-course-button {
    grid-area: course-btn;
    justify-self: center;
    text-align: center;
    max-height: 15px;
    width: 170px;

    font-size: 0.5rem;
    color: #121111;
    text-transform: uppercase;

    margin-top: 1em;
    padding: 0;
    border-bottom: 0.125em solid;
}

.hero-header-container {
    max-width: 270px;
    margin: 0;
    text-align: center;
}

.hero-header {
    font-size: 1.4rem;
    color: #121111;

    text-transform: uppercase;
    margin: 1.25em 0 0 0;
}

.hero-header p {
    z-index: 10;
}

.hero-image {
    position: absolute;
    opacity: 0.9;
    width: 100%;
    bottom: 0;
    right: 0;
    z-index: 5;
}

@media (min-height: 800px) {
    .hero-header-container {
        max-width: 275px;
    }

    .hero-image {
        bottom: 10%;
    }

    .vk {
        display: inline-block;
    }
}

@media (min-height: 1000px) {
    .hero-header-container {
        max-width: 350px;
    }

    .youtube {
        display: inline-block;
    }

    .hero-image {
        bottom: 0;
    }
}

@media (max-height: 600px) {
    .hero-header-container p {
        display: none;
    }

    .hero-header-container {
        max-width: 275px;
    }

    .hero-image {
        bottom: 0;
    }

}

@media (max-width: 380px) {
    .grid {
        grid-template-columns: 85px auto 85px;
        grid-template-areas: 
          "menu-btn     logo       social "
          "   .         phone         .   "
          "   .       course-btn      .   "
    }
}

@media (max-width: 350px) {
    .social-list {
        justify-self: start;
    }
}

@media (min-width: 780px) {
    .open-nav,
    .menu-btn-container {
        display: none;
    }

    .header {
        max-height: 100px;
        align-items: center;
        justify-content: space-between;
    }

    .logo-container {
        background-color: #fff;
    }

    .youtube {
        display: inline-block;
    }

    .vk {
        display: inline-block;
    }

    .social-list {
        background-color: #fff;
    }

    .grid {
        grid-template-columns: minmax(1em, 15em) repeat(3, auto minmax(0.5em, 150px)) auto minmax(1em, 15em);
        grid-column-gap: 2em;
        grid-template-areas: 
                " .  logo . social . course-btn . phone . "
                " nav  nav nav  nav nav   nav  nav nav nav "

    }

    .nav {
        position: relative;
        left: 0;
        margin-top: 0;
        max-height: 50px;
        width: 100%;
        background-image: linear-gradient( #EC4103, #ED8108);
        opacity: 1;
        border-radius: 0;
        margin: 0 auto;

        justify-content: center;
    }

    .nav-list {
        flex-direction: row;
        justify-content: space-around;
        margin: 0 10em;
        max-width: 1200px;
        margin: 0 auto;
    }

    .nav-link {
        font-weight: lighter;
        font-size: 0.75em;
    }

    .hero-container {
        background-image: url("../images/hero/hero-bg.png");
        background-size: cover;
        background-position: center;
        height: 100vh;
    }

    .hero-container img {
        display: none;
    }
}