.team-section-title {
    margin-top: 2em;
    margin-bottom: 0;
}

.team-main-content {
    background-image: url(../images/team/team-mobile-bg.png);
    background-size: 100% 100%;
    background-position: 100% 100%;
    background-repeat: no-repeat;
    
    padding-top: 4em;
    padding-bottom: 4em;
    position: relative;
}

.team-swiper-button-next, 
.team-swiper-button-prev {
    position: relative;
    /* margin: 0 1em !important; */
    background: white;
    border-radius: 50%;

    height: 28px;
    min-width: 28px;
}

.team-swiper-button-next::after, 
.team-swiper-button-prev::after {
    color: #ED8108;
    font-size: 1rem;
}

.swiper-team-slide {
    padding: 0 !important;
}

.team-slide-card {
    padding: 1em 2em;
    flex-direction: column;
    background-color: #FFF;
    border-radius: 45px;
    width: 290px;
    margin: 0 auto;
}

.team-img-container {
    background-image: linear-gradient(-90deg, #EC4103, #ED8108);
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: relative;
}

.team-img {
    width: 145px;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
}

.team-explanation {
    text-align: center;
}

.team-name {
    color: #DE4302;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.team-description {
    font-size: 0.75rem;
    margin-bottom: 0;
}

.team-more-information {
    display: none;
    font-size: 0.75rem;
}